app/assets/*.*
app/protected/runtime/*.*
app/protected/data/*.db
.DS_Store
.settings/org.eclipse.wst.common.project.facet.core.xml
.buildpath
.project
.settings/org.eclipse.php.core.prefs
.idea/encodings.xml
.idea/workspace.xml
.idea/misc.xml
.idea/misc.xml